* {
    /* background-color: #1d2d44; */
    margin: 0;
    padding: 0;
}

html {
    font-size: 12pt;
}

:root {
    --primary-color: #1b263b;
    --accent-color: #4286f5;
    --text-color: #faf9f9;
}

/* ------------------Nav section-------------- */

.logo {
    width: auto;
    height: 3em;
    cursor: pointer;
    margin-left: 1em;
}

nav {
    height: 60px;
    display: flex;
    background-color: var(--primary-color);
    justify-content: flex-end;
    align-items: center;
}

.link-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}

nav a:hover {
    background-color: var(--accent-color);
}

nav .home-link {
    margin-right: auto;
}

nav i {
    fill: var(--text-color);
}

#sidebar-active {
    display: none;
}

.open-sidebar-button,
.close-sidebar-button {
    display: none;
    color: var(--text-color);
    font-size: 32px;
}

.button {
    display: flex;
    padding: 15px 32px;
    font-size: 17px;
    font-weight: bold;
    color: var(--text-color);
    background-color: #e76f51;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    border: none;
    z-index: 1;
    overflow: hidden;
    height: 2.7em;
    align-items: center;
    margin-left: 1.3em;
}

.button:before {
    content: "";
    position: absolute;
    top: 0%;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #ff7d00;
    transition: left 0.8s ease-in-out;
    z-index: -1;
}

.button:hover:before {
    left: 0%;
}

.button:after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 0.8s ease-in-out;
    z-index: -1;
}

.button:hover:after {
    background-color: transparent;
}


/* -------------------------nav-responsive-------------------- */
@media (max-width: 640px) {
    .link-container {
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;

        background-color: var(--primary-color);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.75s ease-out;
    }

    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }

    .open-sidebar-button,
    .close-sidebar-button {
        display: block;
        padding: 20px;
    }

    #sidebar-active:checked~.link-container {
        right: 0;
    }

    #sidebar-active:checked~#overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
}