* {
    /* background-color: #1d2d44; */
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'sans-serif';
}

html {
    font-size: 12pt;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #004e98;
    --accent-color: #4286f5;
    --text-color: #faf9f9;
    --primary-font: 'Macondo', 'poppin', 'sans-serif';
    --bg: radial-gradient(#000 5%, #0000 6%);
    --size: 3rem;
}

li{
    list-style: none;
}

body {
    background-color: #001d3d;
    overflow-x: hidden;
    overflow: hidden;
}

/* ------------------Nav section-------------- */

.mobile-logo {
    width: 15em;
    height: 13em;
    display: flex;
    position: relative;
    top: 0;
    left: -5em;
    visibility: hidden;
}

nav {
    height: 60px;
    display: flex;
    background-color: var(--primary-color);
    justify-content: flex-end;
    align-items: center;
}

.link-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}

nav a:hover {
    background-color: #6096ba;
}

nav .home-link {
    margin-right: auto;
}

nav i {
    fill: var(--text-color);
}

#sidebar-active {
    display: none;
}

.open-sidebar-button,
.close-sidebar-button {
    display: none;
    color: var(--text-color);
    font-size: 32px;
}

.button {
    display: flex;
    padding: 15px 32px;
    font-size: 17px;
    font-weight: bold;
    color: var(--text-color);
    background-color: #e76f51;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    border: none;
    z-index: 1;
    overflow: hidden;
    height: 2.7em;
    align-items: center;
    margin-left: 1.3em;
    margin-right: 1.5em;
}

.button:before {
    content: "";
    position: absolute;
    top: 0%;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #ff7d00;
    transition: left 0.8s ease-in-out;
    z-index: -1;
}

.button:hover:before {
    left: 0%;
}

.button:after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 0.8s ease-in-out;
    z-index: -1;
}

.button:hover:after {
    background-color: transparent;
}


/* -------------------------nav-responsive-------------------- */
@media (max-width: 640px) {
    .mobile-logo {
        visibility: visible;
    }

    .link-container {
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;

        background-color: var(--primary-color);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.75s ease-out;
    }

    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }

    .open-sidebar-button,
    .close-sidebar-button {
        display: block;
        padding: 20px;
    }

    #sidebar-active:checked~.link-container {
        right: 0;
        z-index: 15;
    }

    #sidebar-active:checked~#overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
}

@media (max-width:770px) {
    .arrow {
        left: 4.8em;
    }

    .link-container a {
        width: 9em;
        display: flex;
        justify-content: space-around;
    }

    .button {
        font-size: 14px;
        width: 9em;
    }
}

@media (min-width: 1024px) and (max-width: 1536px) {
    .button {
        margin-right: 1.5em;
    }

    .mobile-logo {
        position: absolute;
    }
}

/* -----------------hero section responsive------------ */

@media (max-width: 640px) {
    .hero-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

/* -----------------------hero-container---------------- */

.hero-container {
    display: flex;
    padding: 5em;
    height: 30em;
}

.content {
    width: 50%;
    height: 100%;
    color: var(--text-color);
}

.name {
    color: #fb8500;
    font-size: 1.2em;
}

.role {
    font-size: 2em;
    font-family: var(--primary-font);
}

.role h1 {
    color: #fc6d6d;
    font-weight: 500;
    position: relative;
}

.role h1::after {
    content: " ";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #001d3d;
    border-left: 2px solid #fc6d6d;
    animation: typing 1.5s steps(19) infinite;
}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0 -35px;
    }
}

.image {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px
}

/* ---------------------responsive image----------------------- */

@media (min-width: 1024px) {
    .image {
        width: auto;
        height: fit-content;
    }

    #myImg {
        max-width: 100%;
        height: auto;
        margin-top: -20px;
        margin-right: -5em;
    }

    .content {
        margin-top: 10em;
    }

    .name {
        font-size: 1.3em;
    }

    .role {
        margin: 0.2em 0 0.5em 0;
        font-size: 3em;
    }

    .social-media {
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .para-content {
        font-size: 1em;
    }
}

@media (max-width: 640px) {

    .content,
    .image {
        width: 100%;
        height: auto;
    }

    .image {
        margin-top: 1.5em;
    }

    .hero-container {
        padding: 2em;
    }

    .content p {
        margin-bottom: 1em;
    }

    .social-media {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 1em;
    }

    @keyframes typing {
        100% {
            left: 116%;
            margin: 0 -35px 0 -35px;
        }
    }
}

/* -------social media -------------------- */

ul {
    list-style: none;
}

.social-media {
    display: flex;
    justify-content: flex-start;
    column-gap: 3em;
}

.example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.example-2 .icon-content {
    margin: 0 10px;
    position: relative;
}

.example-2 .icon-content .tooltip1 {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
}

.example-2 .icon-content:hover .tooltip1 {
    opacity: 1;
    visibility: visible;
    top: -50px;
}

.example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.example-2 .icon-content a {
    position: relative;
    z-index: 1;
    width: 26px;
    height: 26px;
}

.example-2 .icon-content a:hover {
    color: white;
}

.example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover .filled {
    height: 100%;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"]~.tooltip1 {
    background-color: #3d5a80;
}

.example-2 .icon-content a[data-social="linkdin"] .filled,
.example-2 .icon-content a[data-social="linkdin"]~.tooltip1 {
    background-color: #0077B5;
}

.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"]~.tooltip1 {
    background-color: #c13584;
}

.example-2 .icon-content a[data-social="facebook"] .filled,
.example-2 .icon-content a[data-social="facebook"]~.tooltip1 {
    background-color: #1877F2;
}

.example-2 a i {
    z-index: 10;
    font-size: 1.25em;
}

/* ----------------------------download button-------------------- */

.download-button {
    --width: 35%;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #1163ff;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.3s;
    margin-top: 1em;
}

.download-button::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: var(--tooltip-color);
    font-size: 0.9rem;
    color: #111;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
    z-index: 1;
}

.download-button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: var(--tooltip-color);
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.download-button::after,
.download-button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-wrapper,
.text,
.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
}

.text {
    top: 0
}

.text,
.icon {
    transition: top 0.5s;
}

.icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon svg {
    width: 24px;
    height: 24px;
}

.download-button:hover {
    background: #6c18ff;
    cursor: pointer;
}

.download-button:hover .text {
    top: -100%;
}

.download-button:hover .icon {
    top: 0;
}

.download-button:hover:before,
.download-button:hover:after {
    opacity: 1;
    visibility: visible;
}

.download-button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.download-button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}

/* ----------------------------Responsive download btn & About section--------------------------- */

@media (max-width: 640px) {
    .download-button {
        margin-top: 3em;
        width: 40%;
    }

    .about-box {
        position: relative;
        top: 20em;
    }

    .heading,
    .heading-arrow {
        margin: 0 32% 0 32%;
    }

    .about-section {
        flex-direction: column;
        margin: 5em -6.5em 1em -1.5em;
        width: auto;
        height: auto;
    }

    .experience {
        margin-bottom: 2em;
        width: 100%;
        height: auto;
        text-align: center;
        font-weight: 600;
        font-size: 1.2em;
        position: relative;
        left: -8em;
    }

    .about-me {
        width: 23em;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 0.95em;
        margin: 0 .8em 0 -4em;
    }
}

@media (min-width: 1024px) {
    .about-box {
        margin-top: 25em;
    }

    .experience {
        width: auto;
        height: auto;
        transform: rotate(-90deg);
        margin-left: -2em;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 2em;
        text-align: center;
    }

    .about-me {
        font-size: 1.3em;
        margin-left: 4em;
    }

    .about-section {
        width: 90%;
    }

    .about-section-arrow {
        width: 13%;
        height: 4px;
        background-color: #fb8500;
        transform: rotate(90deg);
        position: absolute;
        left: 5.3em;
        margin-top: 7em;
    }
}

@media (max-width: 770px) {
    .hero-container {
        padding-left: 3em;
        padding-right: 3em;
    }

    .social-media {
        margin: 2.4em 0 2em 0;
    }

    .download-button {
        width: inherit;
    }

    .about-box {
        margin-top: 6em;
    }

    .about-section {
        flex-direction: column;
    }

    .experience {
        margin: 0 0 1.2em 42%;
        font-weight: 500;
        font-size: 1.3em;
    }
}

/* ---------------------------About section-------------------------------- */

.about-box {
    width: 100%;
    height: auto;
    background-color: #3a506b;
    color: var(--text-color);
    display: flex;
    justify-content: space-around;
    padding: 2em
}

.heading {
    position: absolute;
    font-size: 2em;
    font-weight: 500;
}

.heading-arrow {
    width: 7em;
    height: 4px;
    background-color: #fb8500;
    position: absolute;
    margin-top: 2.7em;
}

.about-section {
    display: flex;
    margin-top: 5em;
    justify-content: space-around;
    height: auto;
}

.para-content-heading {
    margin-top: 1em;
}

/* --------------------------------------------Skill Section---------------------------- */

.skill-box {
    width: 100%;
    height: 100%;
    color: var(--text-color);
    background-color: #003d5b;
    margin: 2em 0 2em 0;
    padding: 3em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 4em;
    background-image: radial-gradient(#000 5%, #0000 6%),
        radial-gradient(#000 5%, #0000 6%);
    background-position: 0 0, calc(var(--size) / 2) calc(var(--size) / 2);
    background-size: var(--size) var(--size);
}

.arrow {
    width: 5em;
    height: 4px;
    background-color: #fb8500;
    position: relative;
    margin: 2.5em 0 0 7.7em;
    display: flex;
    left: 17em;
}

.skill-heading {
    position: absolute;
    left: 46%;
}

.skill-header {
    font-weight: 500;
    font-size: 1.5em;
}

.card {
    width: 190px;
    height: 254px;
    background: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 3px 1px #00000088;
    cursor: pointer;
}

.card .card-content {
    border-radius: 5px;
    background: #171717;
    width: 186px;
    height: 250px;
    z-index: 1;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content::before {
    opacity: 0;
    transition: opacity 300ms;
    content: " ";
    display: block;
    background: white;
    width: 5px;
    height: 50px;
    position: absolute;
    filter: blur(50px);
    overflow: hidden;
}

.card:hover .card-content::before {
    opacity: 1;
}

.card::before {
    opacity: 0;
    content: " ";
    position: absolute;
    display: block;
    width: 80px;
    height: 360px;
    background: linear-gradient(#ff2288, #387ef0);
    transition: opacity 300ms;
    animation: rotation_9018 8000ms infinite linear;
    animation-play-state: paused;
}

.card:hover::before {
    opacity: 1;
    animation-play-state: running;
}

.card::after {
    position: absolute;
    content: " ";
    display: block;
    width: 250px;
    height: 360px;
    background: #17171733;
    backdrop-filter: blur(50px);
}

@keyframes rotation_9018 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.Card-box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 3em;
}

/* --------Statistic part----------------- */

/* From Uiverse.io by Juanes200122 */
.skill-container {
    position: relative;
    max-width: 500px;
    width: 100%;
    background: #282828;
    margin: 0 15px;
    padding: 10px 20px;
    border-radius: 7px;
}

.skill-container .skill-box2 {
    width: 100%;
    margin: 25px 0;
}

.skill-box2 .title {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: rgb(226, 226, 226);
}

.skill-box2 .skill-bar {
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(236, 236, 236, 0.1);
}

.skill-bar .skill-per {
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: rgb(226, 226, 226);
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
}

.skill-per.html {
    /*progreso de las diferentes lenguajes*/
    width: 70%;
    animation-delay: 0.1s;
}

.skill-per.scss {
    /*progreso de las diferentes lenguajes*/
    width: 80%;
    animation-delay: 0.1s;
}

.skill-per.Boostrap {
    /*progreso de las diferentes lenguajes*/
    width: 50%;
    animation-delay: 0.2s;
}

@keyframes progress {
    0% {
        width: 0;
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.skill-per .tooltip {
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 3px;
    background: rgb(226, 226, 226);
    z-index: 1;
}

.tooltip::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: rgb(226, 226, 226);
    transform: translateX(-50%) rotate(45deg);
}


/* ----------------------------------Responsive Skill section------------------------- */

@media (max-width: 640px) {
    .skill-box {
        margin-top: 20em;
        flex-direction: column;
        row-gap: 7em;
    }

    .skill-heading {
        position: relative;
        top: 0em;
        left: 0.58em;
        font-size: 1.8em;
    }

    .skill-header {
        margin-left: -0.9em;
    }

    .arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -11.5em;
        margin-left: -12em;
        right: 7em;
        top: 11em;
    }

    .Card-box {
        row-gap: 2em;
        column-gap: 1em;
    }

    .card {
        width: 150px;
        height: 200px;
    }
}

@media (min-width: 380px) and (max-width: 640px) {
    .Card-box {
        row-gap: 1em;
        column-gap: 0.6em;
    }

    .card {
        width: 140px;
        height: 200px;
    }
}

/* ----------------------------Project section----------------------- */

.project-box {
    width: 100%;
    height: auto;
    padding: 0 4em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: -9em;
}

.project-logo img {
    width: 8em;
    height: auto;
    margin-top: 15em;
    cursor: pointer;
}

.projectHeading {
    color: #fff;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    margin-top: 0em;
}

@media (min-width: 380px) and (max-width: 640px) {
    .project-box {
        padding: 0 2.5em;
    }

    .projects {
        width: fit-content;
        flex-wrap: wrap;
        gap: 2em;
    }

    .projectHeading {
        margin-top: -11em;
    }

    .project-arrow {
        margin-top: -19.3em;
    }
}

/* ----------------------------------footer section---------------------- */

.footer {
    width: 100%;
    height: 23em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000;
    font-size: 0.9em;
    color: #7b7b7b;
    padding: 4em 0;
    margin-top: 5em;
}

.foot-Heading{
    font-size: 1.4em;
}

.footer-box {
    width: auto;
    height: auto;
    box-sizing: border-box;
}

.footer-box ul {
    width: 9em;
    margin: 5em 1em;
    line-height: 2em;
}

.footer-box ul li a:hover {
    color: #f39f5f;
    transition: all 0.4s ease-in-out;
    margin-left: 5px
}

.discription {
    width: 20em;
}

.footer-logo img {
    width: 14em;
    height: 14em;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5em;
    cursor: pointer;
}

.news-section {
    display: flex;
    gap: 2em;
}

.news-header {
    position: relative;
    top: -7.4em;
    left: 2em;
}

.news-col form {
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.news-col p {
    color: #7b7b7b;
    font-size: 15px;
}

.news-col form input {
    width: 100%;
    background: #212529;
    border: none;
    padding: 13px;
    border-radius: 100px;
    font-weight: 400;
    font-size: 13px;
}

.news-col form button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background: #ffb742;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.news-col form button:hover {
    background-color: #fb8c00;
}

.news-col form button i {
    font-size: 26px;
}

.news-letter {
    margin-top: -1em;
}

.sub_footer{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -168.5em;
    left: 5em;
    font-size: 0.8em;
    color: #b4b4b4;
}

.copyright{
    margin-left: 6em;
}

.condition{
    display: flex;
    gap: 2em;
    margin-left: 48em;
}

.condition a:hover{
    color: #f39f5f;
    border-bottom: 1px solid #f39f5f;
    transition: all 0.3s ease-in-out;
}

/* -------------------------------back to top button------------ */

.static-btn {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    bottom: -133em;
    right: 3em;
}

.btn-B2UP {
    width: 140px;
    height: 56px;
    overflow: hidden;
    border: none;
    color: #fff;
    background: none;
    position: relative;
    padding-bottom: 2em;
    cursor: pointer;
}

.btn-B2UP>div,
.btn-B2UP>svg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.btn-B2UP:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: bottom right;
    background: currentColor;
    transition: transform 0.25s ease-out;
}

.btn-B2UP:hover:before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.btn-B2UP .clone>*,
.btn-B2UP .text-btn>* {
    opacity: 1;
    font-size: 1.3rem;
    transition: 0.2s;
    margin-left: 4px;
}

.btn-B2UP .clone>* {
    transform: translateY(60px);
}

.btn-B2UP:hover .clone>* {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.btn-B2UP:hover .text-btn>* {
    opacity: 1;
    transform: translateY(-60px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.btn-B2UP:hover .clone> :nth-child(1) {
    transition-delay: 0.15s;
}

.btn-B2UP:hover .clone> :nth-child(2) {
    transition-delay: 0.2s;
}

.btn-B2UP:hover .clone> :nth-child(3) {
    transition-delay: 0.25s;
}

.btn-B2UP:hover .clone> :nth-child(4) {
    transition-delay: 0.3s;
}

/* icon style and hover */
.btn-B2UP svg {
    width: 20px;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-50deg);
    transition: 0.2s ease-out;
}

.btn-B2UP:hover svg {
    transform: translateY(-50%) rotate(-90deg);
}